<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    @-webkit-keyframes test {
      0% {background-position:0px -0%;}
      100% {background-position:0px -400%;}
    }
    @keyframes test {
      0% {background-position:0px -0%;}
      100% {background-position:0px -400%;}
    }
    div {
      height:35px;width:32px;
      -webkit-animation:test 4s steps(4,start) infinite;
      animation:test 4s steps(4,start) infinite;
      background:url(http://www.web-tinker.com/share/兔斯基揉脸.png);
    }
  </style>
</head>
<body>

<div></div>
</body>
</html>
